* {
    margin: 0;
    padding: 0;
}

td {
    vertical-align: top;
}

td.docs {
    padding-right: 1rem;
}

td.docs p {
    padding-bottom: 0.8rem;
    width: 420px;
    font-family: Georgia, sans-serif;
    font-size: 1rem;
}

td.code.empty {
    background-color: transparent !important;
}

td.code {
    background: #f5f2f0 !important;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-top: 5px;
    width: 480px !important;
    max-width: 600px !important;
    font-size: 14px !important;
}

table {
    border-spacing: 0;
}

pre {
    margin: 0 !important;
    border: 0;
    padding: 0 !important;
}

body,
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    max-width: 800px !important;
    margin: 0 auto;
    height: 100%;
}
.container {
    height: 100vh;
}
.container.no-code{
    flex-direction: column;
    justify-content: space-between;
}
footer{
    margin-top: 2rem;
    padding-top: 2rem;
    border-top: 1px solid #ccc;
    font-size: 0.9rem;
    text-align: center;
}
ul {
    list-style: none;
    margin-top: 2rem;
}
a {
    color: #333;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
li {
    padding-bottom: 0.8rem;
}
